{% extends "./layouts/_HOME.html" %}
{% set back = true %}


{% block content %}


  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
    
        {% if (data['age'] == "18-21") %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="education-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What do you want to do?
              </h1>
            </legend>
            <div id="education-hint" class="govuk-hint">
              Select the option that best applies to you.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="education-stay" name="education-plan" type="radio" value="stay-in-education">
                <label class="govuk-label govuk-radios__label" for="education-stay">
                  I am looking to stay in education after sixth-form or college
                </label>
              </div>
        
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="education-return" name="education-plan" type="radio" value="return-to-education">
                <label class="govuk-label govuk-radios__label" for="education-return">
                  I want to return to education or training
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {% endif %}

        {% if (data['age'] == "under-24") %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="education-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What do you want to do?
              </h1>
            </legend>
            <div id="education-hint" class="govuk-hint">
              Select the option that best applies to you.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="education-return" name="education-plan" type="radio" value="return-to-education">
                <label class="govuk-label govuk-radios__label" for="education-return">
                  I want to return to education or training
                </label>
              </div>
        
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="education-stay" name="education-plan" type="radio" value="stay-in-education">
                <label class="govuk-label govuk-radios__label" for="education-stay">
                  I am looking to stay in education
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {% endif %}

        {% if (data['age'] == "over-24") %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="education-options-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What do you want to do?
              </h1>
            </legend>
            <div id="education-options-hint" class="govuk-hint">
              Select the option that best applies to you.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="education-return" name="education-plan" type="radio" value="return-to-education">
                <label class="govuk-label govuk-radios__label" for="education-return">
                  I want to return to education or training
                </label>
              </div>
        
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="education-stay" name="education-plan" type="radio" value="stay-in-education">
                <label class="govuk-label govuk-radios__label" for="education-stay">
                  I am looking to stay in education
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        
        {% endif %}
    

        {{ govukButton({
          text: "Continue"
        }) }}

      </div>

      
    </div>
  </div>



{% endblock %}
