{% extends "./layouts/_HOME.html" %}


{% block content %}


  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">


        <h2 class="govuk-heading-l">
          Find education and training
        </h2>
    
        <p>Whether you're already in education or training, or coming back after a break, we can help you work out what to do next.</p>
        <p>Our <a href="ai">AI-powered</a> service makes it easy to find courses that are relevant to you.</p>
    
        {{ govukButton({
          text: "Start now",
          href: "age"
        }) }}
    
      </div>
    </div>
  </div>



{% endblock %}
