{% extends "./layouts/_QUESTION.html" %}

{% set back = "true" %}
{% set pageHeading = "Where would you like to study?" %}
{% set withoutDescription = "true" %}


{% block service %}
<form action="what" method="post" novalidate>

  <h1 class="govuk-heading-l">
    Tell us about your location
  </h1>

  {{ govukInput({
    label: {
      text: "Enter a town, city or postcode",
      classes: "govuk-label--m"
    },
    classes: "govuk-input--width-20",
    id: "location",
    name: "location"
  }) }}

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          How far would you be happy to travel?
        </h1>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="travel-location" name="travel-location" type="radio" value="Up to 1 miles">
          <label class="govuk-label govuk-radios__label" for="travel-location">
            Up to 1 mile
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="travel-location-2" name="travel-location" type="radio" value="Up to 2 miles">
          <label class="govuk-label govuk-radios__label" for="travel-location-2">
            Up to 2 miles
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="travel-location-3" name="travel-location" type="radio" value="Up to 5 miles">
          <label class="govuk-label govuk-radios__label" for="travel-locatio-3">
            Up to 5 miles
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="travel-location-4" name="travel-location" type="radio" value="Up to 10 miles">
          <label class="govuk-label govuk-radios__label" for="travel-location-4">
            Up to 10 miles
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="travel-location-5" name="travel-location" type="radio" value="Up to 15 miles">
          <label class="govuk-label govuk-radios__label" for="travel-location-5">
            Up to 15 miles
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="travel-location-6" name="travel-location" type="radio" value="Up to 25 miles">
          <label class="govuk-label govuk-radios__label" for="travel-location-6">
            Up to 25 miles
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-button-group">

    {{ govukButton({
      text: "Continue"
    }) }}

    <a class="govuk-link" href="what">Skip this step</a>
    </div>


    </div>
  </form>

  </div>
</div>

{% endblock %}
