{% extends "./layouts/_BASE.html" %}

{% set back = "true" %}
{% set pageHeading = "Professional Marketing and Digital Business Development Extended Diploma Level 3" %}
{% set pageDescription = "More information about this course." %}
{% set withDescription = "true" %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">  

    <h2 class="govuk-heading-m">Course details</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Start date
        </dt>
        <dd class="govuk-summary-list__value">
          8 September 2025
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Duration
        </dt>
        <dd class="govuk-summary-list__value">
          18 months
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Location and distance
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">0.3 miles (Manchester)</p>
          <p class="govuk-body">LTE Group</p>
          <p class="govuk-body"><a href="https://www.google.com/maps/dir/Manchester/The+College+of+Animal+Welfare+(CAW)+-+Wigan+Centre,+The+College+of+Animal+Welfare,+18+Beecham+Ct,+Goose+Green,+Wigan+WN3+6PR/@53.5282425,-2.6152816,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x487a4d4c5226f5db:0xd9be143804fe6baa!2m2!1d-2.2426305!2d53.4807593!1m5!1m1!1s0x487b0fca6e4e0c49:0x54c1830977f74bd6!2m2!1d-2.6593619!2d53.5290265!3e3?entry=ttu&g_ep=EgoyMDI1MDIxOS4xIKXMDSoASAFQAw%3D%3D">How do I get there?</a></p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course type
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Level 3 Diploma</p>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What is a Level 3 Diploma?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>Diplomas are technical or vocational courses that give you practical skills and experience.</p>
              <p>Level 3 Diplomas (sometimes called BTECs) are equivalent to 2 A Levels.</p>
            </div>
          </details>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Hours
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Full time</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Entry requirements
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">No entry requirements</p>
          <p class="govuk-body"><a href="dont-meet-entry-requirements">What can I do if I don't meet these?</a></p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course overview
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Would you like to be able to successfully market an idea, product or service? Would you like to develop the skills necessary to be a successful Business Entrepreneur of the future? Look no further! </p>
          <p>As businesses evolve with modern, digital strategies, it’s important that you learn about the variety of marketing methods available in order to reach out to your target audience. </p>
          <p>During this two year course you’ll study advanced techniques to gain the skills necessary to market a modern start-up business. </p>
          <p>You’ll also learn how to professionally manage business events, which can only be successful if you know how to develop your very own marketing strategy! </p>
          <p>In doing this you’ll study key topics including: </p>
          <ul class="govuk-list govuk-list--bullet">
           <li> Modern Careers in Digital Marketing</li>
           <li> Marketing Principles (externally assessed)</li>
           <li>Effective Customer Communications</li>
           <li>The application of Digital Marketing</li>
           <li>The Branding of Products and Services</li>
           <li>The Value of Generating Customer Loyalty </li>
          </ul>
           <p> We’ll build upon your passion for business, allowing you to develop your own projects and ideas. </p>
            <p>Want to enhance your entrepreneurial skills even further and take your business idea to the next level? Apply today! </p>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Support for additional needs
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"><a href="https://www.northchaddertonschool.co.uk/Safeguarding/Safeguarding-and-Wellbeing/">Find out the support available if you have additional needs</a></p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Next open day
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"><a href="https://www.northchaddertonschool.co.uk/Parents/Key-Dates/">Find out about open days</a></p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What jobs can I do after this course?
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"><a href="https://nationalcareers.service.gov.uk/explore-careers/search-results?SearchTerm=social+care">Explore possible careers on the National Careers Service website</a></p>
        </dd>
      </div>
    </dl>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "I'm interested in this course",
        href: "interested-in-course"
      }) }}
    
      {{ govukButton({
        text: "Don't show me courses like this",
        classes: "govuk-button--secondary",
        href: "dont-show-courses-like-this"
      }) }}
    </div>

    <a href="#"><img class="full-width-image" alt="Care" src="/public/images/share.png" style="max-width: 300px;"></a>
  
{% endblock %}
