{% extends "./layouts/_BASE.html" %}

{% set back = "true" %}
{% set pageHeading = "What to do if you're interested in applying for this course" %}
{% set withDescription = "false" %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">  
    
    <h2 class="govuk-heading-m">Talk it through</h2>
    
    <p class="govuk-body">It can be helpful to talk to someone, like a parent or teacher, about your choice. You can also talk to the <a href="https://nationalcareers.service.gov.uk/contact-us">National Careers Service</a> (NCS) for free.</p>
    
    <h2 class="govuk-heading-m">Check it out</h2>
    
    <p class="govuk-body">You could <a href="https://www.caw.ac.uk/open-days/">attend an open day</a> with the course provider if one is available. This can help you check how you'd get there and whether you like the facilities.</p>
      
    <p class="govuk-body">If you have a disability or any additional needs you could also find out about what extra support you could get.</p>
      
    <p class="govuk-body">You might even be able to talk to some students to get their views.</p>
        
    <h2 class="govuk-heading-m">Apply</h2>
    
    <p class="govuk-body">Apply for the course if you think it's right for you. You could ask someone to help with this if necessary.</p>
    
    <h2 class="govuk-heading-m">Decide what to do before the course starts</h2>
    
    <p class="govuk-body"> If you're going to have a gap before the course or apprenticeship starts, there are <a href="./break">loads of things you could do</a> to top up your skills and put your time to good use.</p>
    
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

    {{ govukButton({
      text: "View course on school or college website"
    }) }}

  </div>
 </div>   
{% endblock %}
