{% extends "./layouts/_QUESTION.html" %}

{% set back = "true" %}
{% set pageHeading = "Where would you like to study?" %}
{% set withoutDescription = "true" %}


{% block service %}
<form action="check-answers" method="post" novalidate>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h2 class="govuk-fieldset__heading">
            What level courses and apprenticeships are you looking for?
          </h2>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="level-of-education" name="level-of-education" type="radio" value="GCSE level or equivalent">
            <label class="govuk-label govuk-radios__label" for="level-of-education">
              GCSE level or equivalent
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="level-of-education-2" name="level-of-education" type="radio" value="A level, T level or equivalent">
            <label class="govuk-label govuk-radios__label" for="level-of-education-2">
              A level, T level or equivalent
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="level-of-education-3" name="level-of-education" type="radio" value="GCSE, A level, T level or equivalent">
            <label class="govuk-label govuk-radios__label" for="level-of-education-3">
              Both
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    
    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <a class="govuk-link" href="check-answers.html">Skip this step</a>
    </div>

  </div>
</div>
</form>

{% endblock %}
