{% extends "./layouts/_QUESTION.html" %}

{% set back = "true" %}
{% set pageHeading = "What is the name of the institution?" %}
{% set withoutDescription = "true" %}


{% block service %}
<form action="select-institution" method="post" novalidate>

  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="event-name">
        What is the name of the institution?
      </label>
    </h1>
    <input class="govuk-input" id="event-name" name="eventName" type="text">
  </div>
    

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>

  </div>
</div>

{% endblock %}
