{% extends "./layouts/_QUESTION.html" %}

{% set back = "true" %}
{% set pageHeading = "Where would you like to study?" %}
{% set withoutDescription = "true" %}


{% block service %}

  <div data-module="moj-add-another">
    <form action="learning-method" method="post" novalidate>
  
      <fieldset class="govuk-fieldset moj-add-another__item">
  
        <legend class="govuk-fieldset__legend moj-add-another__title govuk-fieldset__legend--l">
  
          What school subjects are you good at or enjoy?
  
        </legend>
  
        <p>This is optional but the more you tell us about yourself, the more personalised your search results will be.</p>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="subject[0][first_name]">
            Enter a subject
          </label>

          <div id="event-name-hint" class="govuk-hint">
            You can enter one thing at a time, then press 'Add another' if you want to include more. Enter anything from a single word to a full sentence.
          </div>

          <input class="govuk-input" id="subject-1" name="subject-1" type="text" data-name="subject[%index%][first_name]" data-id="subject[%index%][first_name]">
  
        </div>
  
      </fieldset>
  
      <div class="moj-button-action">
  
        <button type="submit" class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">
          Add another
        </button>
  
      </div>

  
  </div>


  <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

    
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue"
      }) }}
      <a class="govuk-link" href="#">Skip this step</a>
    </div>

  </div>
</div>
</form>

{% endblock %}
