//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.dfe-page-hero {
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #003a69;
    width: 100%;
}

.month-wrapper {
    margin-bottom: 15px;
}

@import 'node_modules/dfe-frontend/packages/dfefrontend';

// Patterns not in Frontend

@import "components/hero";
@import "components/masthead";
@import "components/page-header";
@import "components/dfe-header";
@import "components/filters";
@import "components/option-select";


.govuk-width-container { @include govuk-width-container; }

.govuk-header__link .govuk-header__logotype{
    height: 30px;
  }
  
  .govuk-header__link:focus .govuk-header__logotype{
    content: url(/public/images/department-for-education_black.png);
    height: 30px;
  }

  .remove-filters {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;
}

.remove-filters a {
    color: govuk-colour('black');
    display: inline-block;
    padding: 8px 16px;
    font-size: 19px;
    background-color: govuk-colour('light-grey');
    text-decoration: none;
}

.remove-filters a:hover {
    text-decoration: underline;
}

.remove-filters a:after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    background-image: url(/public/images/cross.svg);
    vertical-align: -3px;
}