{% extends "../../layouts/_BASE.html" %}

{% set back = "true" %}
{% set pageHeading = "GCE A Level in Psychology" %}
{% set pageDescription = "More information about this course." %}
{% set withDescription = "true" %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">  

    <h2 class="govuk-heading-m">Course details</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Start date
        </dt>
        <dd class="govuk-summary-list__value">
          2 September 2025
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Duration
        </dt>
        <dd class="govuk-summary-list__value">
          2 years
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Location and distance
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">7 miles (Oldham)</p>
          <p class="govuk-body">North Chadderton School</p>
          <p class="govuk-body"><a href="https://www.google.com/maps/dir/Manchester/The+College+of+Animal+Welfare+(CAW)+-+Wigan+Centre,+The+College+of+Animal+Welfare,+18+Beecham+Ct,+Goose+Green,+Wigan+WN3+6PR/@53.5282425,-2.6152816,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x487a4d4c5226f5db:0xd9be143804fe6baa!2m2!1d-2.2426305!2d53.4807593!1m5!1m1!1s0x487b0fca6e4e0c49:0x54c1830977f74bd6!2m2!1d-2.6593619!2d53.5290265!3e3?entry=ttu&g_ep=EgoyMDI1MDIxOS4xIKXMDSoASAFQAw%3D%3D">How do I get there?</a></p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course type
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">A Level</p>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What is an A Level?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>A levels are subject-based qualifications usually assessed by exams. You usually choose 3 subjects to study but you can take more or fewer.</p>
<p>You typically study them full time over 2 years, after you've finished GCSEs.</p>
            </div>
          </details>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Hours
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Full time</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Entry requirements
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">A minimum of 5 GCSEs at Grade to C. Two of these must include English Language and Maths. A good school reference, attendance and behaviour record are required as is a positive interview. Grade C in GCSE Science is needed to study Psychology </p>
          <p class="govuk-body"><a href="dont-meet-entry-requirements">What can I do if I don't meet these?</a></p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course overview
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Psychology is the study of behaviour. Psychologists generate ideas and explanations for different behaviours, and test those ideas using a variety of research techniques. By studying Psychology you will learn about a wide variety of behaviours and look at landmark pieces of research in the field.</p> 
          <p>You will often take part in recreations of these pieces of research so that you develop a deep understanding of the research process used in Psychology and the ability to evaluate this process thoroughly. </p>
          <p>Examples of the behaviours studied include: Criminal behaviour, memory, social influence, plasticity of the brain and mental illness.</p> 
          <p>Skills developed in Psychology include designing and carrying out research using scientific principles, analysing and interpreting data to reach conclusions and critical analysis and evaluation of research and its conclusions. </p>
          <p>You will also consider how understanding of behaviour developed through research can be applied to real life situations. An A l.evel in Psychology provides a firm foundation for further study and employment. It can lead onto a wide variety of degree courses as the skills of evaluation and critical analysis are very important skills in all degree level courses. </p>
          <p>Many students choose to study Psychology at university and this can lead onto roles as a practicing psychologist in many diverse areas, such as mental health, NHS, business, sport, counselling, the police and prison service and education. </p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Support for additional needs
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"><a href="https://www.northchaddertonschool.co.uk/Safeguarding/Safeguarding-and-Wellbeing/">Find out the support available if you have additional needs</a></p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Next open day
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"><a href="https://www.northchaddertonschool.co.uk/Parents/Key-Dates/">Find out about open days</a></p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What jobs can I do after this course?
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"><a href="https://nationalcareers.service.gov.uk/explore-careers/search-results?SearchTerm=social+care">Explore possible careers on the National Careers Service website</a></p>
        </dd>
      </div>
    </dl>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "I'm interested in this course",
        href: "interested-in-course"
      }) }}
    
      {{ govukButton({
        text: "Don't show me courses like this",
        classes: "govuk-button--secondary"
      }) }}
    </div>

  
{% endblock %}
