{% extends "./layouts/_QUESTION.html" %}

{% set back = "true" %}
{% set pageHeading = "Where would you like to study?" %}
{% set withoutDescription = "true" %}


{% block service %}
<form action="results-type" method="post" novalidate>

  <div data-module="moj-add-another">
    <h2 class="govuk-heading-l">Tell us about yourself</h2>
    <p>You can include:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>school subjects (like art or biology)</li>
      <li>things you'd like to get into (like construction or healthcare)</li>
      <li>what you enjoy in your free time (like playing football, photography or gaming)</li>
    </ul>
    <p>The more you tell us about yourself, the better your search results are likely to be.</p>
    <p>You can add anything from a single word (such as 'science') to a full sentence (like 'I really enjoy science GCSE, especially physics').</p>
  
  
    
      <fieldset class="govuk-fieldset moj-add-another__item">
  
        <legend class="govuk-fieldset__legend moj-add-another__title govuk-fieldset__legend--m">
  
          What do you enjoy?
  
        </legend>
  
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="person[0][first_name]">
            Enter something you like or want to do
          </label>
  
          <input class="govuk-input" id="person" name="person" type="text" data-name="person[%index%][first_name]" data-id="person[%index%][first_name]">

        </div>
  
      </fieldset>
  
      <div class="moj-button-action">
  
        <button type="submit" class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">
          Add something else
        </button>
  
      </div>

  
    
   <!--   <fieldset class="govuk-fieldset moj-add-another__item">
  
        <legend class="govuk-fieldset__legend moj-add-another__title govuk-fieldset__legend--m">
  
          What do you enjoy?
  
        </legend>
  
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="person[0][first_name]">
            Enter something you like or want to do
          </label>
  
          <input class="govuk-input" id="person" name="person" type="text" data-name="person[%index%][first_name]" data-id="person[%index%][first_name]">

        </div>
  
      </fieldset>
  
      <div class="moj-button-action">
  
        <button type="submit" class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">
          Add something else
        </button>
  
      </div>

-->
  
  </div>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

    
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue"
      }) }}
      <a class="govuk-link" href="#">Skip this step</a>
    </div>

  </div>
</div>
</form>

{% endblock %}
