{% extends "../layouts/_BASE.html" %}

{% set back = "true" %}
{% set pageHeading = "Work based horse care and management" %}
{% set pageDescription = "More information about this course." %}
{% set withDescription = "true" %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">  

    <h2 class="govuk-heading-m">Course details</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Start date
        </dt>
        <dd class="govuk-summary-list__value">
          Flexible
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Duration
        </dt>
        <dd class="govuk-summary-list__value">
          18 months
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Location and distance
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">20 miles (Wigan)</p>
          <p class="govuk-body">The College of Animal Welfare</p>
          <p class="govuk-body"><a href="https://www.google.com/maps/dir/Manchester/The+College+of+Animal+Welfare+(CAW)+-+Wigan+Centre,+The+College+of+Animal+Welfare,+18+Beecham+Ct,+Goose+Green,+Wigan+WN3+6PR/@53.5282425,-2.6152816,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x487a4d4c5226f5db:0xd9be143804fe6baa!2m2!1d-2.2426305!2d53.4807593!1m5!1m1!1s0x487b0fca6e4e0c49:0x54c1830977f74bd6!2m2!1d-2.6593619!2d53.5290265!3e3?entry=ttu&g_ep=EgoyMDI1MDIxOS4xIKXMDSoASAFQAw%3D%3D">How do I get there?</a></p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course type
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Level 3 Diploma</p>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What is a Level 3 Diploma?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>Diplomas are technical or vocational courses that give you practical skills and experience.</p>
              <p>Level 3 Diplomas (sometimes called BTECs) are equivalent to 2 A Levels.</p>
            </div>
          </details>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Cost
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">£6,195</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Hours
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Full time</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Entry requirements
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">No academic entry requirements but previous experience with horses required.</p>
          <p class="govuk-body"><a href="dont-meet-entry-requirements">What can I do if I don't meet these?</a></p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course overview
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Mandatory Units:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Receive a Horse and Carry out an Initial Assessment</li>
            <li>Plan Diets and Implement Feeding Regimes for Horses</li>
            <li>Monitor and Maintain Stocks of Feed and Bedding</li>
            <li>Promote the Health and Well-being of Horses</li>
            <li>Deliver Basic Health Care Treatment to Horses</li>
            <li>Promote, Monitor, and Maintain Health, Safety, and Security in the Workplace</li>
            <li>Manage Your Own Resources</li>
          </ul>
          <p class="govuk-body">Optional Units:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Introduce Young Horses to Equipment</li>
            <li>Exercise and Improve the Performance of Horses using Lunging or Long Reining</li>
            <li>Care for Horses After Strenuous Exercise</li>
            <li>Prepare and Maintain Grazing Land for Horses</li>
            <li>Jump Schooled Horses to Maintain Training</li>
          </ul>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Support for additional needs
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"><a href="https://www.caw.ac.uk/students/student-support/">Find out the support available if you have additional needs</a></p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Next open day
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"><a href="https://www.caw.ac.uk/open-days/">Find out about open days</a></p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What jobs can I do after this course?
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"><a href="https://nationalcareers.service.gov.uk/explore-careers/search-results?SearchTerm=horse">Explore possible careers on the National Careers Service website</a></p>
        </dd>
      </div>
    </dl>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "I'm interested in this course",
        href: "interested-in-course"
      }) }}
    
      {{ govukButton({
        text: "Don't show me courses like this",
        classes: "govuk-button--secondary",
        href: "dont-show-courses-like-this"
      }) }}
    </div>

  
{% endblock %}
