{% extends "../layouts/_QUESTION.html" %}

{% set back = "true" %}
{% set pageHeading = "Where would you like to study?" %}
{% set withoutDescription = "true" %}


{% block service %}
<form action="learning-method" method="post" novalidate>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Why don't you want to see this course?
          </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="travel-location" name="travel-location" type="radio" value="Only in">
            <label class="govuk-label govuk-radios__label" for="travel-location">
              Too far away
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="travel-location-2" name="travel-location" type="radio" value="As far as Stockport">
            <label class="govuk-label govuk-radios__label" for="travel-location-2">
              Wrong course type
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="travel-location-3" name="travel-location" type="radio" value="As far as Wigan">
            <label class="govuk-label govuk-radios__label" for="travel-location-3">
              I don't meet the entry requirements
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="travel-location-4" name="travel-location" type="radio" value="As far as Preston">
            <label class="govuk-label govuk-radios__label" for="travel-location-4">
              Too expensive
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    

    {{ govukButton({
      text: "Confirm"
    }) }}

  </div>
</form>
</div>

{% endblock %}
