{% extends "../layouts/_QUESTION.html" %}

{% set back = "true" %}
{% set pageHeading = "Where would you like to study?" %}
{% set withoutDescription = "true" %}


{% block service %}

  <div data-module="moj-add-another">
    <form action="location" method="post" novalidate>
    <h2 class="govuk-heading-l">Your interests</h2>
    <p>You can include:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>school subjects you enjoy (for example, art or biology)</li>
      <li>things you'd like to get into (such as construction or healthcare)</li>
      <li>what you enjoy in your free time (for example, playing football, photography or gaming)</li>
    </ul>
    <p>The more you tell us about yourself, the better your search results are likely to be.</p>
  
      <fieldset class="govuk-fieldset moj-add-another__item">
  
        <legend class="govuk-fieldset__legend moj-add-another__title govuk-fieldset__legend--m">
  
          Tell us an interest
  
        </legend>
  
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="person[0][first_name]">
            Enter something you like or want to do
          </label>
          
          <div id="event-name-hint" class="govuk-hint">
            You can enter one thing at a time, then press 'Add another' if you want to include more. Enter anything from a single word to a full sentence.
          </div>

          <input class="govuk-input" id="person-1" name="person-1" type="text" data-name="person[%index%][first_name]" data-id="person[%index%][first_name]">
  
        </div>
  
      </fieldset>
  
      <div class="moj-button-action">
  
        <button type="submit" class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">
          Add another
        </button>
  
      </div>

  
  </div>


  <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

    
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue"
      }) }}
      <a class="govuk-link" href="#">Skip this step</a>
    </div>

  </div>
</div>
</form>

{% endblock %}
