{% extends "../layouts/_QUESTION.html" %}

{% set back = "true" %}
{% set pageHeading = "Where would you like to study?" %}
{% set withoutDescription = "true" %}


{% block service %}
<form action="../address-type" method="post" novalidate>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="study-location-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Where would you like to study?
          </h1>
        </legend>

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="study-location" name="study-location" type="radio" value="Town or city" data-aria-controls="conditional-study-location">
            <label class="govuk-label govuk-radios__label" for="study-location">
              Town or city
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-study-location">
            <div class="govuk-form-group">
              <label class="govuk-label" for="study-location-town">
                Enter a town or city
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="study-location-town" name="study-location-conditional" spellcheck="false">
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="study-location-2" name="study-location" type="radio" value="Postcode" data-aria-controls="conditional-study-location-2">
            <label class="govuk-label govuk-radios__label" for="study-location-2">
              Postcode
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-study-location-2">
            <div class="govuk-form-group">
              <label class="govuk-label" for="study-location-postcode">
                Enter a postcode
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="study-location-postcode" name="study-location-conditional">
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="study-location-3" name="study-location" type="radio" value="School or college" data-aria-controls="conditional-study-location-3">
            <label class="govuk-label govuk-radios__label" for="study-location-3">
              Name of school or college
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-study-location-3">
            <div class="govuk-form-group">
              <label class="govuk-label" for="study-location-school">
                Enter the name of a school or college
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="study-location-school" name="study-location-conditional">
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <p><a href="">Use my current location</a></p>
    

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>

  </div>
</div>

{% endblock %}
