{% extends "../layouts/_QUESTION.html" %}

{% set back = "true" %}
{% set pageHeading = "Where would you like to study?" %}
{% set withoutDescription = "true" %}


{% block service %}
<form action="how-far" method="post" novalidate>
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="event-name">
          Where would you like to study?
        </label>
      </h1>
      <div id="event-name-hint" class="govuk-hint">
        <p>You can enter:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a town or city</li>
          <li>a postcode</li>
          <li>the name of a school, college or university</li>
        </ul>
        <p>This service is for people in England. Find careers help if you're in <a href="">Scotland</a>, <a href="">Wales</a> or <a href="">Northern Ireland</a>.</p>
      </div>
      <input class="govuk-input" id="study-location" name="study-location" type="text">
    </div>
    <p><a href="">Use my current location</a></p>
    

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>

  </div>
</div>

{% endblock %}
