{% extends "./layouts/_COURSE.html" %}

{% set back = "true" %}
{% set pageHeading = "A Level Accounting" %}
{% set pageDescription = "More information about this course." %}
{% set withDescription = "true" %}

{% set courseType = "A Level" %}

{% set startDate = "8 September 2025" %}
{% set courseDuration = "2 years" %}
{% set locationDistance = "0.21 miles (Manchester)" %}
{% set schoolOrCollege = "Xaverian College" %}
{% set courseHours = "Full time" %}
{% set entryRequirements = "Maths and English GCSE grade 4-9" %}
{% set courseOverview = " <p> To get the most from this course you’ll be a whizz at maths, and love solving problems.</p>

<p>Every business needs ace accountants and financial experts. And there’s a good amount of job security in this world – because it’s on you to make sure books are balanced and everyone gets paid.</p>

<p>While you’ll be spending a lot of your time reporting on financial activity, accounting also requires creative thinking and problem-solving skills.</p>" | safe %}

