{% extends "./layouts/_BASE.html" %}

{% set back = "true" %}
{% set pageHeading = "How we use AI" %}
{% set withoutDescription = "true" %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">  

    <p class="govuk-body-l">We use AI to make it easier for you to find courses and apprenticeships that match your interests.</p>
    <p class="govuk-body">When you type in what you're looking for, the AI helps us understand what you mean. It compares what you enter with the courses available and finds ones that are related. This works even if you use slightly different wording.</p>
    <p class="govuk-body">For example, if you search for "computer coding" we’ll also show you courses about "software development" or "programming" because they mean similar things.</p>
    <p class="govuk-body">You can also search for more general career aims, like "being outside and in nature" and still get relevant results.</p>
    <p class="govuk-body">The AI isn’t creating new courses or deciding what’s best for you. It’s just making sure you see options that are relevant to what you're searching for.</p>
    <p class="govuk-body">That way, you get better results, faster.</p>

  </div>
 </div>   
{% endblock %}
