{% extends "./layouts/_BASE.html" %}

{% set back = "true" %}
{% set pageHeading = "Coming back to education after a break" %}
{% set withoutDescription = "true" %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">  

    <p class="govuk-body">If you've been out of education or training for a while - for whatever reason - it might feel difficult to get back into it again.</p>
    
    <p class="govuk-body">There are loads of things you can do, though, that could:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>grow your skills</li>
      <li>increase your confidence</li>
      <li>prepare you for sixth form or college</li>
    </ul>

    <p class="govuk-body">Even if you've been accepted for a course or apprenticeship, you might want to consider some of these opportunities to help use your time constructively before you start.</p>

    <h2 class="govuk-heading-m">Short courses</h2>
    
    <p class="govuk-body">Organisations that provide short courses for young people include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.kingstrust.org.uk/">King's Trust</a> - free courses to build your confidence, get a job or start your business</li>
      <li><a href="https://www.youthemployment.org.uk/careers-advice-help/choices/online-skills-and-careers-courses/preparing-for-your-future-online-course/">Preparing for your future</a> - free online course from Youth Employment UK for 14 to 16 year olds to build skills and careers confidence</li>
      <li><a href="https://www.coursera.org/">Coursera</a> - online short courses, many of which are free, in a variety of subjects</li>
    </ul>

  </div>
 </div>   
{% endblock %}
