{% extends "./layouts/_COURSE.html" %}

{% set back = "true" %}
{% set pageHeading = "Professional Marketing and Digital Business Development Extended Diploma Level 3" %}
{% set pageDescription = "More information about this course." %}
{% set withDescription = "true" %}

{% set courseType = "Level 3 Apprenticeship" %}

{% set startDate = "3 September 2025" %}
{% set courseDuration = "12 months" %}
{% set locationDistance = "1 mile (Manchester)" %}
{% set schoolOrCollege = "Whalley Range High School" %}
{% set courseHours = "Full time" %}
{% set entryRequirements = "English Language GCSE grade 4-9" %}
{% set courseOverview = "Students will study such things as developing and marketing a business, and personal and business finance." | safe %}
