{% extends "./layouts/_BASE.html" %}

{% set back = "true" %}
{% set pageHeading = "Level 3 Apprenticeship in Marketing" %}
{% set pageDescription = "More information about this course." %}
{% set withDescription = "true" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


<h2 class="govuk-heading-m">Course details</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Start date
        </dt>
        <dd class="govuk-summary-list__value">
          3 September 2025
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Duration
        </dt>
        <dd class="govuk-summary-list__value">
          12 months
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Location and distance
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">1 mile (Manchester)</p>
          <p class="govuk-body">Manchester Marketers Ltd</p>
          <p class="govuk-body"><a href="https://www.google.com/maps/dir/Manchester/The+College+of+Animal+Welfare+(CAW)+-+Wigan+Centre,+The+College+of+Animal+Welfare,+18+Beecham+Ct,+Goose+Green,+Wigan+WN3+6PR/@53.5282425,-2.6152816,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x487a4d4c5226f5db:0xd9be143804fe6baa!2m2!1d-2.2426305!2d53.4807593!1m5!1m1!1s0x487b0fca6e4e0c49:0x54c1830977f74bd6!2m2!1d-2.6593619!2d53.5290265!3e3?entry=ttu&g_ep=EgoyMDI1MDIxOS4xIKXMDSoASAFQAw%3D%3D">How do I get there?</a></p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course type
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Level 3 Apprenticeship</p>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What is a Level 3 Apprenticeship?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>Apprenticeships are real jobs that allow you to earn a wage while you learn. You'll work alongside experienced staff to learn on the job.</p>
                  <p>Intermediate (level 2) apprenticeships are equivalent to GCSEs. Advanced (level 3) apprenticeships are equivalent to A Levels or T Levels.</p>
            </div>
          </details>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Hours
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Full time</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Entry requirements
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">English Language GCSE grade 4-9</p>
          <p class="govuk-body"><a href="dont-meet-entry-requirements">What can I do if I don't meet these?</a></p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Work overview
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Students will study such things as developing and marketing a business, and personal and business finance.</p>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Training overview
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">You would spend 2 days each week in college learning the theory of marketing.</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Company overview
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">	
            Manchester Marketing Ltd has been around since 1963. We are very proud to have been serving our local community for the past 50 plus years, and hope to continue doing so for many more to come.</p>
        </dd>
      </div>
    </dl>

  <p>If you're interested in this course, you can find out more or apply on the school or college website.</p>

  <button type="submit" class="govuk-button" data-module="govuk-button">
    Find out more or apply
  </button>

</div>

<div class="govuk-grid-column-one-third">

  <h3 class="govuk-heading-m">More about this company</h3>

  <p><a href="">Support for additional needs</a></p>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <h3 class="govuk-heading-m">Jobs and careers</h3>
  <p><a href="">Explore the possible jobs and careers you could do after this course</a></p>
</div>
</div>

{% endblock %}