{% extends "./layouts/_BASE.html" %}

{% set back = "true" %}
{% set pageHeading = "What can I do if I don't meet the entry requirements?" %}
{% set withoutDescription = "true" %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">  

    <p class="govuk-body">If you don't meet the entry requirements for the course you're interested in, don't panic. There are lots of things you can do.</p>
    
    <h2 class="govuk-heading-m">Talk to your school or college</h2>
    
    <p class="govuk-body">If you've only just missed your grades, try talking to your school or college. They might be flexible on what they’ll accept.</p>
    
    <h2 class="govuk-heading-m">Resit any necessary exams</h2>
    
    <p class="govuk-body">You can resit GCSEs the following year. You can also take autumn exams in GCSE English language and maths.</p>
    
    <p class="govuk-body">Your sixth form or college might allow you to do resits alongside your new course.</p>
    
    <h2 class="govuk-heading-m">Look for other courses</h2>
    
    <p class="govuk-body">Not all sixth forms and colleges have the same entry requirements. So look around to see if there are other courses you could get onto.</p>
    
    <h2 class="govuk-heading-m">Consider an apprenticeship</h2>
    
    <p class="govuk-body">Apprenticeships combine training with a practical job. Their entry requirements are often lower than courses.</p>
    
    <h2 class="govuk-heading-m">Get advice</h2>
    
    <p class="govuk-body">You could talk to someone you trust, like a parent, carer, teacher or careers adviser.</p>
      
    <p class="govuk-body">You can also talk to the <a href="https://nationalcareers.service.gov.uk/contact-us">National Careers Service</a> (NCS) for free.</p>

  </div>
 </div>   
{% endblock %}
