{% extends "./layouts/_BASE.html" %}

{% set back = "true" %}
{% set pageHeading = "What support is available" %}
{% set withoutDescription = "true" %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">  

    <p class="govuk-body">It's common to feel a bit anxious about your next steps. But there's lots of support available.</p>
    
    <h2 class="govuk-heading-m">Finding someone to chat to</h2>
    
    <p class="govuk-body">Even if you think you know what you want to do, chatting it through with someone else can give you a different perspective.</p>

    <p class="govuk-body">You could talk to a parent, carer, teacher or careers advisor. Pick someone you trust and who will give you honest, helpful feedback on your ideas.</p>

    <p class="govuk-body">You can also talk to the <a href="https://nationalcareers.service.gov.uk/contact-us">National Careers Service</a> (NCS) for free.</p>
    
    <h2 class="govuk-heading-m">Mental health support</h2>
    
    <p class="govuk-body">Whatever you're feeling, don't cope with it alone.</p>
    
    <p class="govuk-body"><a href="https://www.childline.org.uk/">Childline</a> has great resources for anyone up to the age of 18. You can talk to someone by phone, email or webchat. You can also use their message boards to chat safely and anonymously with other young people.</p>

    <h2 class="govuk-heading-m">Financial support</h2>
    
    <p class="govuk-body">You may be able to get money from the government to help with the costs of your course. Options include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.gov.uk/advanced-learner-loan">learner loans</a></li>
      <li><a href="https://www.gov.uk/student-finance">student finance</a></li>
      <li><a href="https://www.gov.uk/grant-bursary-adult-learners">adult bursaries and grants</a> (if you're over 18)</li>
    </ul>

    <h2 class="govuk-heading-m">Lower grades than expected</h2>
    
    <p class="govuk-body">There are <a href="./dont-meet-entry-requirements">lots of things you can do</a> if you didn't get the grades you wanted and are worried about meeting the course entry requirements.</p>

  </div>
 </div>   
{% endblock %}
