{% extends "../layouts/_BASE.html" %}

{% set back = "true" %}
{% set pageHeading = "This page hasn't been built yet" %}
{% set withoutDescription = "true" %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">  

    <p class="govuk-body">This is a prototype so some things don't work as you'd expect.</p>
    <p>When searching for a course, trying using one of the following searches:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Social care</li>
      <li>Sociology</li>
    </ul>

    {{ govukButton({
      text: "Search again",
      href: "interests"
    }) }}
    
   
  </div>
 </div>   
{% endblock %}
