{% extends "../layouts/_BASE.html" %}

{% set back = "true" %}
{% set pageHeading = "Hear from other young people" %}
{% set withoutDescription = "true" %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">  

    <p class="govuk-body">These short videos, some from other young people about their experiences, might give you ideas or inspiration for what to do next.</p>
    
    <h3 class="govuk-heading-s">Why I chose to do an apprenticeship</h3>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/QOqgZKmaiEU?si=yYcZ-klimsUvoou5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <p class="govuk-body">2 minutes 17 seconds</p>
      {{ govukDetails({
        summaryText: "View transcript",
        text: "I was in a handful of people at school

        there's about ten of us that didn't want
        
        to go to university and we often got
        
        separated from everyone else in the year
        
        they kind of assumed that we weren't
        
        going to get very far when we left
        
        school I have dyslexia and I was very
        
        hands-on and preferred to learn by sort
        
        of visually and phonetically sort of
        
        breaking down things which I felt that
        
        at school I wasn't really given that
        
        extra support that I needed I realized
        
        that University wasn't an option for me
        
        I knew that I would be going to
        
        university for the wrong reason I spoke
        
        to the teachers that had had children
        
        that had gone to down the apprenticeship
        
        group and spoke to people like whitehat
        
        I reached out to them and saw the
        
        services that they offered and asked
        
        them for a bit more context around them
        
        and then really found out that why that
        
        was the place I wanted to be I saw a lot
        
        of roles that I was attracted to and I
        
        attended a kickoff day and came in met
        
        with a few sort of leaders at white hat
        
        they spoke about the qualifications they
        
        offered and sort of the expectations
        
        they had for the students and I thought
        
        this is someone who's really engaged and
        
        really cares for how I'm gonna develop
        
        and how I'm gonna sort of succeed in
        
        June 2019
        
        I joined cancer as their first
        
        apprentice globally and my role is that
        
        I sit in the internal recruitment team
        
        and I support them as a function and I
        
        do that globally as well as in the UK
        
        and Ireland
        
        when I knew I wanted to do an
        
        apprenticeship and not go to uni I was
        
        really worried about losing friends and
        
        potentially not having the same social
        
        experience that they may have but that's
        
        been completely wiped out my mind with
        
        the community element at white hat it's
        
        led me to be able to meet so many new
        
        apprentices from so many different
        
        avenues of life and I've met a lot of
        
        apprentices who are doing the same
        
        qualification of me I've made friends
        
        for life so I think it's massively
        
        important that people are educated about
        
        the options out there that aren't just
        
        going to university"
      }) }}


    <h3 class="govuk-heading-s">Your options after GCSEs</h3>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/WOCVgzyal98?si=lRpiKKhp4uLq5kt-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <p class="govuk-body">6 minutes 12 seconds</p>
      {{ govukDetails({
        summaryText: "View transcript",
        text: "Hi, my name's Jonika - I'm from Milton Keynes
        College and today we're going to be talking
        
        about all of your post-16 options. So, what's
        available to you once you leave school. If you're
        
        in Year 10 or Year 11, this video is perfect for
        you. We're going to be talking about college,
        
        sixth form and apprenticeships. So, we legally
        have to be in some form of education until we're
        
        at the age of 18. But what that looks like is
        completely up to you. First up we're going to
        
        talk about the differences between sixth form
        and college. So there are some key differences
        
        between sixth forms and colleges, which can
        help you decide which one is right for you.
        
        So, with sixth forms they tend to be a lot smaller
        than colleges, they're often attached to a school.
        
        If you go to a school then you go to that sixth
        form, it's not much of a transition. You're
        
        going to be in the same environment, you have
        the same teachers, surrounded by the same people.
        
        Whereas with colleges, they tend to be a
        lot bigger, there's a lot more new people,
        
        new teachers. Colleges are really good for people
        who are looking to get out of the whole school
        
        feel and the whole school environment. The next
        thing you need to think about is - how do you
        
        work best? At sixth form it's very similar
        to school where you're going to have teachers
        
        chasing you for deadlines, making sure
        you're going to get your homework in on time.
        
        At college you have a lot more independence -
        you're going to be expected to self-motivate and
        
        get your own work done. Another key difference is
        that at college classes can be made up of people
        
        of all different ages, from all different areas
        around where you live. Whereas with sixth form,
        
        you're likely to already know the people that are
        in your classes. Another thing to think about is
        
        what you wear - so some sixth forms might require
        you to wear a uniform and some might have a dress
        
        code or some might let you wear your own clothes.
        Most colleges let you wear your own clothes unless
        
        you're doing a specific course, for example
        Hospitality or Catering you might need to wear
        
        chef whites or you might need to have certain PPE
        for Construction or Engineering, for example. OK,
        
        so the last thing we're going to discuss is
        qualifications. At sixth form there's a strong
        
        focus on A Levels - some sixth forms offer BTECs
        as well but the majority of BTECs are offered at
        
        local colleges. So now let's get into the actual
        qualifications. A Levels are offered at Level 3
        
        and when you do GCSEs, that's Level 2. So
        post-16, you want to move on to Level 3.
        
        At most six forms you can study three to four
        A Levels at the same time. These can be in any
        
        subjects -there are a vast majority of A Levels
        out there. You just have to have to have a look at
        
        what you want to do and see what's going to help
        you get there. So A Levels are exam and coursework
        
        based - it all depends on what you study. For
        example, if you studied English Literature, that
        
        would be quite coursework heavy but if you studied
        Maths at A Level, that would be quite exam heavy.
        
        With BTECs, you could start out at, for example,
        Level 1, Level 2 or Level 3 - it all depends on
        
        your GCSE grades and your personal requirements.
        For example, if you started out on a BTEC Level 3,
        
        that qualification is equivalent to three A
        Levels. You only study one BTEC at a time and
        
        that's because, obviously, it's equivalent
        to three A Levels so it's a lot of work!
        
        You can study BTECs in lots of different subjects
        - again, you have to check your local college
        
        website to see what they are offering. BTECs tend
        to be quite heavily focused on coursework, however
        
        there's some exams - these could be written or it
        could be work-based assessments. One of the main
        
        benefits of colleges focusing so heavily on BTECs
        is that they have the facilities to support that.
        
        With BTECs being mainly vocational subjects, such
        as Cooking, Hairdressing, that sort of thing,
        
        most colleges have really good industry-standard
        facilities that are going to help you learn the
        
        skills that you need to create a career in that
        profession. When it comes to deciding what's right
        
        for you, you've got to think about what do you
        want to do and how you work best. Do you prefer
        
        exams, are you more based towards coursework or
        do you prefer a mixture of both? With A Levels,
        
        you can study more than one thing which is
        great if you're interested in a few things
        
        and it can really help you decide what you want
        to focus on going forward. BTECs like a lot more
        
        practical approach to learning -they're great
        for people who are really eager to get out of the
        
        classroom and really like to work with their hands
        and learn through experience and trying things.
        
        Work experience is also a huge part of your
        college experience - a lot of colleges work
        
        really closely with local industry and employers
        to make sure that you get to try out the industry
        
        that you're interested in to make sure that's
        something that you definitely want to do.
        
        The good news is that both A Levels and BTECs
        allow you entry into university. If university is
        
        something you're thinking about, it's a good idea
        to have a good look ahead and see if they have any
        
        other specific requirements and study subjects
        that you're interested in at university level.
        
        So let's talk about apprenticeships and how do
        they work. So, when you're an apprentice, you're
        
        you're an employee like any other employee in
        any other company. You're earning and learning
        
        at the same time - so you're earning a wage and
        you're also studying for your qualification which,
        
        once you've left school is usually a Level 3. You
        will work for your employer from three to four
        
        days a week and you will spend one to two days a
        week in college. Apprenticeships can last anywhere
        
        from a year to three years, depending on the level
        you study at and what the employer would like you
        
        to do. You have a workplace trainer and so there's
        always someone to help, there's always someone
        
        there to support you and you're never on your own.
        Apprenticeships are perfect for people that are
        
        eager to get out of the classroom and start
        learning and start working as soon as possible.
        
        On a final note, most colleges and sixth forms
        require you to have at least five GCSEs at
        
        Grade 4, usually including English and maths to
        get onto their A Level or Level 3 programmes.
        
        If you don't get this in your GCSEs, it is not
        the end of the world - sixth forms and colleges
        
        do take other things into consideration and not
        just your grades. Above all, this year has been
        
        really hard for all of you and for all of
        us. We are by no means judging you and your
        
        grades so please do not hesitate to apply
        for something that you really want to do,
        
        just because your grades might
        not be what you want them to be.
        
        if you've got any further questions,
        please just ask - this is your future,
        
        this is your opportunity to make educationß
        what you want it to be. Good luck!"
      }) }}

    <h3 class="govuk-heading-s">Choosing your A Levels</h3>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/jS2qIkZZzDU?si=E-Sr_rWGk2qupX2d" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <p class="govuk-body">3 minutes 43 seconds</p>
      {{ govukDetails({
        summaryText: "View transcript",
        text: "Are a levels the best thing for you?

        today I'm going to give you my top tips
        
        to help you make that decision now it
        
        goes without saying that a levels are
        
        not easy and to choose three or four of
        
        them that you are interested in enough
        
        to continue studying them for another
        
        two years is not a decision you want to
        
        make in a short amount of time so tip
        
        number one choose subjects that you are
        
        good at these could be subjects that
        
        you've been good at since a young age
        
        and you're getting Level sevens and
        
        above at GCSE and this applies with any
        
        subject so English Sciences history
        
        geography languages whatever you want to
        
        do make sure you are good at it at GCSE
        
        level if it is a subject that is not
        
        commonly taught at GCSE there is plenty
        
        that this could be then ask your
        
        teachers ask students that are older
        
        than you that are currently doing the
        
        course what subjects is it closely
        
        related to that you have done at GCSE
        
        Point number two is you really need to
        
        solidify a revision method that works
        
        for you now as I've said in previous
        
        videos use gcses to experiment with lots
        
        of different revision methods whether
        
        this is the flash cards the mind maps
        
        the posters
        
        find something that 100 is the most
        
        effective thing for you because in a
        
        levels you will be revising a lot now
        
        depending on what type of person you are
        
        you may need to revise two hours a day
        
        you might have to revise four or five
        
        hours a day just to keep up with the
        
        content and stay on top of things by
        
        going into year 12 knowing exactly the
        
        revision method you're going to use is
        
        going to save you a lot of time in the
        
        first term or even throughout the whole
        
        of the first year Point number three is
        
        choose subjects that you actually enjoy
        
        whether you're good at it or not
        
        obviously being good at it will help by
        
        picking subjects that you would actually
        
        enjoy it's going to give you incentive
        
        to actually revise them and study them
        
        and want to learn about them two years
        
        is quite a long time to just be studying
        
        something that you don't enjoy so I
        
        cannot emphasize the importance of this
        
        point enough another important point is
        
        don't just choose the subjects that your
        
        friends are doing now granted if you're
        
        in a friendship group you probably have
        
        similar interests with people and
        
        naturally you might choose one or two
        
        that are the same but at a levels when
        
        you're in smaller classes for example
        
        some of my classes were five to ten
        
        people you'll be surprised at how
        
        quickly you make new friends with these
        
        people that you're spending all this
        
        time with in the new subjects and if you
        
        go in and just choose subjects that your
        
        friends are doing you will most likely
        
        get bored of it by the time exam season
        
        comes around and you actually have to
        
        sit your a levels for this and finally
        
        the most important tip of all is think
        
        in the long term when you choose your
        
        subjects for example if you are
        
        interested in going to UNI have a little
        
        think about what uni courses you
        
        actually want to do and what are the
        
        requirements to get into that uni course
        
        if you're Keen to do a course such as
        
        English literature at Uni
        
        then pick subjects that are going to
        
        benefit you while you do that course so
        
        English is going to have a lot of essay
        
        writing it's going to have a lot of
        
        reading so do subjects such as English
        
        History will have a lot of reading and
        
        writing geography is also quite essay
        
        based so choose subjects that will
        
        actually benefit you now most uni
        
        courses just require a certain set of
        
        grades whether this is like a a b for
        
        example and they normally don't require
        
        a certain set of a levels so for example
        
        if you want to do maths at University
        
        they're obviously going to want you to
        
        do maths at a level but the other two or
        
        three that you choose don't necessarily
        
        have to be Mass related so it's still
        
        quite up to you in terms of how you want
        
        to choose them now I know a lot of
        
        people that didn't take this tip into
        
        consideration and then when they wanted
        
        to go to university they were very
        
        limited in what they actually could do
        
        because the subjects that they wanted to
        
        do they didn't take the correct a levels
        
        for and now it's backfired on them but
        
        that sums up the top things that I would
        
        take into consideration if I was
        
        choosing my a levels now"
      }) }}

  </div>
 </div>   
{% endblock %}
