{% extends "../../layouts/_BASE.html" %}

{% set back = "true" %}
{% set pageHeading = "Level 3 Health and Social Care" %}
{% set pageDescription = "More information about this course." %}
{% set withDescription = "true" %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">  

    <h2 class="govuk-heading-m">Course details</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Start date
        </dt>
        <dd class="govuk-summary-list__value">
          2 September 2025
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Duration
        </dt>
        <dd class="govuk-summary-list__value">
          2 years
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Location and distance
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">7 miles (Oldham)</p>
          <p class="govuk-body">Tameside College</p>
          <p class="govuk-body"><a href="https://www.google.com/maps/dir/Manchester/The+College+of+Animal+Welfare+(CAW)+-+Wigan+Centre,+The+College+of+Animal+Welfare,+18+Beecham+Ct,+Goose+Green,+Wigan+WN3+6PR/@53.5282425,-2.6152816,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x487a4d4c5226f5db:0xd9be143804fe6baa!2m2!1d-2.2426305!2d53.4807593!1m5!1m1!1s0x487b0fca6e4e0c49:0x54c1830977f74bd6!2m2!1d-2.6593619!2d53.5290265!3e3?entry=ttu&g_ep=EgoyMDI1MDIxOS4xIKXMDSoASAFQAw%3D%3D">How do I get there?</a></p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course type
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Level 3 Diploma</p>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What is a Level 3 Diploma?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>Diplomas are technical or vocational courses that give you practical skills and experience.</p>
              <p>Level 3 Diplomas (sometimes called BTECs) are equivalent to 2 A Levels.</p>
            </div>
          </details>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Hours
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Full time</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Entry requirements
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">5 GCSEs grade 4 or above including mathematics and/ or English.          </p>
          <p class="govuk-body"><a href="../dont-meet-entry-requirements">What can I do if I don't meet these?</a></p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course overview
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Are you caring, patient, observant and logical? </p>
          
          <p>Do you want to make a difference and have a rewarding career supporting others? </p>
          
          <p>Then this level 3 course is the course for you! </p>
          
          <p>This is a full time, 2-year study programme, which covers a range of health and social care topics, which are assessed internally and externally. Learners will prepare for a health-related career with this Health and Social Care course, equivalent to A Levels. </p>
          
          <p>It will give you the opportunity to develop your academic and writing skills and apply your knowledge to a real-life setting during practical work experience. Some of the topics covered are: </p>

         <ul class="govuk-list govuk-list--bullet"> 
          <li>Principles of Safe Practice in Health and Social Care</li>
          <li> Anatomy and physiology for health and social care</li>
          <li>Enquiries into current research in Health and Social care  </li>
          <li>Promoting public health</li>
          <li>Human Lifespan Development </li>
        </ul>

        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Support for additional needs
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"><a href="https://www.tameside.ac.uk/Pages/Facilities_Services/studentservices">Find out the support available if you have additional needs</a></p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Next open day
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"><a href="https://www.eventbrite.co.uk/o/tameside-college-8766227030?mm_k=546">Find out about open days</a></p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What jobs can I do after this course?
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"><a href="https://nationalcareers.service.gov.uk/explore-careers/search-results?SearchTerm=social+care">Explore possible careers on the National Careers Service website</a></p>
        </dd>
      </div>
    </dl>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "I'm interested in this course",
        href: "interested-in-course"
      }) }}
    
      {{ govukButton({
        text: "Don't show me courses like this",
        classes: "govuk-button--secondary"
      }) }}
    </div>

  
{% endblock %}
