{% set serviceName = "Explore your options after school or college" %}

{% extends "/layouts/main.html" %}

{% block header %}  

<header class="dfe-header" role="banner">
  <div class="govuk-width-container dfe-header__container">
     <div class="dfe-header__logo">
        <a class="dfe-header__link" href="/" aria-label="DfE homepage">
        <img src="/public/images/dfe-logo.png" class="dfe-logo" alt="Department for Education">
        <img src="/public/images/dfe-logo-alt.png" class="dfe-logo-hover" alt="Department for Education">
        </a>
     </div>
  </div>
  <div class="govuk-width-container dfe-header__service-name" style="margin-bottom: 20px;">
     <a href="/" class="dfe-header__link--service">Explore your options after school or college</a>
  </div>

  <div class="masthead" role="banner">
   <div class="govuk-width-container dfe-header__container">
   <div class="hero">
     <div class="hero__content">
     <div class="hero__body" id="index-hero-body">
       <h1 class="hero__title" style="margin-bottom: 24px;">Explore your options after school or college</h1>

       <p class="hero__description">
         Find out about education and training opportunities in England if you're 15 to 18.
       </p>
      </div>
     </div>
   </div>
 </div>

</header>

{% endblock %}    

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}
 

{% if back %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endif %}

{% endblock %}  

{% block content %}
<div class="govuk-grid-row"> 
<div class="govuk-grid-column-two-thirds">  
<!-- start of service specific block -->
{% block service %}
Text goes here, override this by overriding the block
{% endblock %}
<!-- end service specific block-->
</div>
{% endblock %}    

{% block footer %}

{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  navigation: [
    {
      title: "Website information",
      width: "two-thirds",
      columns: 2,
      items: [
        {
          href: "#",
          text: "About us"
        },
        {
          href: "#",
          text: "Help"
        },
        {
          href: "#",
          text: "Privacy and cookies"
        },
        {
          href: "#",
          text: "Accessibility statement"
        },
        {
          href: "#",
          text: "Terms and conditions"
        }
      ]
    },
    {
      title: "Sites for other UK countries",
      width: "one-third",
      items: [
        {
          href: "#",
          text: "Scotland"
        },
        {
          href: "#",
          text: "Wales"
        },
        {
          href: "#",
          text: "Northern Ireland"
        }
      ]
    }
  ]
}) }}

{% endblock %}