{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Explore your options after school or college
    </h1>
    <p>Final Alpha iterations based on in person UR feedback <a href="05/index">View prototype</a></p>
    <p>Adding updated version of browse for in person UR sessions <a href="04/index">View prototype</a></p>
    <p>Guided journey and browse for use in Userzoom sessions. <a href="03/guided-journey/index">View prototype</a></p>
    <p>First attempt at recreating Figma designs. <a href="02/index">View prototype</a></p>

  </div>
</div>

{% endblock %}
