{% set serviceName = "Explore your options after school or college" %}
{% set govukRebrand = true %}
{% extends "/layouts/main.html" %}

{% block header %}  


<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
        <a href="#" class="govuk-header__link govuk-header__link--homepage">
            <img src="/public/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
        </a>
      </div>
  </div>
</header>

{{ govukServiceNavigation({
  serviceName: "Find education and training",
  serviceUrl: "index"
}) }}


<!--
{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}

{{ header({
  "showNav": "false",
  "showSearch": "false",
  "showHeaderActionLinks": "false",
  "logoPath": "public/images",
  "searchAction": "/search/",
  "searchInputName": "q",
  "logoAltText": "Department for Education",
  "homeHref": "https://gov.uk",
  "selectedNav": view,
  "service": {
    "name": "",
    "serviceUrl": "/"
  },
  "headerActionLinks": [
    {
      "url"  : "/",
      "label" : "My account"
    },
    {
      "url"  : "/",
      "label" : "Sign out"
    }
  ],
  "primaryLinks": [
      {
      "url"  : "#",
      "label" : "Home"
    }, {
      "url"  : "#",
      "label" : "About"
    }, {
      "url"  : "#",
      "label" : "News"
    }
  ]
})
}}

{{ govukServiceNavigation({
  serviceName: "Explore your options after school or college",
  serviceUrl: "#"
}) }}

-->

<section class="dfe-page-grey">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-phase-banner" style="margin-top: -30px; margin-bottom: 20px;">
          <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
              Alpha
            </strong>
            <span class="govuk-phase-banner__text">
              This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.
            </span>
          </p>
        </div>
        {% if back %}
        <a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom: 30px;">Back</a>
        {% endif %}
      </div>
      
      <div class="govuk-grid-column-two-thirds">


        {% if withoutDescription %}
        <h2 class="govuk-heading-l" style="margin-bottom: 10px;">
          {{ pageHeading }}
        </h2>
        {% endif %}

        {% if withDescription %}
        <h2 class="govuk-heading-l">
          {{ pageHeading }}
        </h2>

        <p class="govuk-body-m">{{ pageDescription }}</p>

        {% endif %}

        {% if withDescriptionAndLink %}
        <h2 class="govuk-heading-l">
          {{ pageHeading }}
        </h2>

        <p class="govuk-body-m">{{ pageDescription }}</p>

        <p class="govuk-body-m"><a href="all-or-nothing">Change your search</a></p>
        {% endif %}

        {% if resultsPage %}

        <h2 class="govuk-heading-l">
          {{ pageHeading }}
        </h2>

       <p class="hero__description">
        <p>You searched for:</p>
         <ul class="govuk-list govuk-list--bullet">
          <li class="govuk-body govuk-!-font-weight-bold">{{ data['job-1'] }}</li>
            <li class="govuk-body govuk-!-font-weight-bold">{{ data['subject-1'] }}</li>
         </ul>
       </p>

       <p class="govuk-body-m"><a href="all-or-nothing">Change your search</a></p>

        {% endif %}


      </div>
    </div>
  </div>
</section>

</div>

</header>

</header>

{% endblock %}    


{% block content %}
<div class="govuk-grid-row"> 
<div class="govuk-grid-column-two-thirds">  
<!-- start of service specific block -->
{% block service %}
Text goes here, override this by overriding the block
{% endblock %}
<!-- end service specific block-->
</div>
{% endblock %}    

{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/dfefrontend.js"></script>
{% endblock %}

{% block footer %}

{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  navigation: [
    {
      title: "Website information",
      width: "two-thirds",
      columns: 2,
      items: [
        {
          href: "#",
          text: "About us"
        },
        {
          href: "#",
          text: "Help"
        },
        {
          href: "#",
          text: "Privacy and cookies"
        },
        {
          href: "#",
          text: "Accessibility statement"
        },
        {
          href: "#",
          text: "Terms and conditions"
        }
      ]
    },
    {
      title: "Sites for other UK countries",
      width: "one-third",
      items: [
        {
          href: "#",
          text: "Scotland"
        },
        {
          href: "#",
          text: "Wales"
        },
        {
          href: "#",
          text: "Northern Ireland"
        }
      ]
    }
  ]
}) }}

{% endblock %}