{% extends "/layouts/main.html" %}
{% set govukRebrand = true %}

{% block header %}  


<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
        <a href="#" class="govuk-header__link govuk-header__link--homepage">
            <img src="/public/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
        </a>
      </div>
  </div>
</header>

{{ govukServiceNavigation({
  serviceName: "Find education and training",
  serviceUrl: "index"
}) }}


<!--
{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}

{{ header({
  "showNav": "false",
  "showSearch": "false",
  "showHeaderActionLinks": "false",
  "logoPath": "public/images",
  "searchAction": "/search/",
  "searchInputName": "q",
  "logoAltText": "Department for Education",
  "homeHref": "https://gov.uk",
  "selectedNav": view,
  "service": {
    "name": "",
    "serviceUrl": "/"
  },
  "headerActionLinks": [
    {
      "url"  : "/",
      "label" : "My account"
    },
    {
      "url"  : "/",
      "label" : "Sign out"
    }
  ],
  "primaryLinks": [
      {
      "url"  : "#",
      "label" : "Home"
    }, {
      "url"  : "#",
      "label" : "About"
    }, {
      "url"  : "#",
      "label" : "News"
    }
  ]
})
}}

{{ govukServiceNavigation({
  serviceName: "Explore your options after school or college",
  serviceUrl: "#"
}) }}

-->

<section class="dfe-page-grey">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-phase-banner" style="margin-top: -30px; margin-bottom: 20px;">
          <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
              Alpha
            </strong>
            <span class="govuk-phase-banner__text">
              This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.
            </span>
          </p>
        </div>
        {% if back %}
        <a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom: 30px;">Back</a>
        {% endif %}
      </div>
      
      <div class="govuk-grid-column-two-thirds">


        {% if withoutDescription %}
        <h2 class="govuk-heading-l" style="margin-bottom: 10px;">
          {{ pageHeading }}
        </h2>
        {% endif %}

        {% if withDescription %}
        <h2 class="govuk-heading-l">
          {{ pageHeading }}
        </h2>

        <p class="govuk-body-m">{{ pageDescription }}</p>

        {% endif %}

        {% if withDescriptionAndLink %}
        <h2 class="govuk-heading-l">
          {{ pageHeading }}
        </h2>

        <p class="govuk-body-m">{{ pageDescription }}</p>

        <p class="govuk-body-m"><a href="all-or-nothing">Change your search</a></p>
        {% endif %}

        {% if resultsPage %}

        <h2 class="govuk-heading-l">
          {{ pageHeading }}
        </h2>

       <p class="hero__description">
        <p>You searched for:</p>
         <ul class="govuk-list govuk-list--bullet">
          <li class="govuk-body govuk-!-font-weight-bold">{{ data['job-1'] }}</li>
            <li class="govuk-body govuk-!-font-weight-bold">{{ data['subject-1'] }}</li>
         </ul>
       </p>

       <p class="govuk-body-m"><a href="all-or-nothing">Change your search</a></p>

        {% endif %}


      </div>
    </div>
  </div>
</section>

</div>

</header>

</header>

{% endblock %}    


{% block content %}  
<div class="govuk-grid-row"> 
    <div class="govuk-grid-column-two-thirds">  
  
      <h2 class="govuk-heading-m">Course details</h2>
  
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ startDate }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Duration
          </dt>
          <dd class="govuk-summary-list__value">
            {{ courseDuration }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Location and distance
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{ locationDistance }}</p>
            <p class="govuk-body"><a href="https://www.google.com/maps">Show on map</a></p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            School or college
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{ schoolOrCollege }}</p>
            <p><a href="">Visit school or college website</a> </p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course type
          </dt>

          {% if courseType == "A Level" %}

          <dd class="govuk-summary-list__value">
            <p class="govuk-body">A Level</p>
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What is an A Level?
                </span>
              </summary>
              <div class="govuk-details__text">
                <p>A levels are subject-based qualifications usually assessed by exams. You usually choose 3 subjects to study but you can take more or fewer.</p>
                <p>You typically study them full time over 2 years, after you've finished GCSEs.</p>
              </div>
            </details>
          </dd>

          {% elseif courseType == "Level 3 Diploma" %}
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              Level 3 Diploma
            </p>

              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    What is a Level 3 Diploma?
                  </span>
                </summary>
                <div class="govuk-details__text">
                 <p>Diplomas are technical or vocational courses that give you practical skills and experience.</p>
                 <p>Level 3 Diplomas (sometimes called BTECs) are equivalent to 2 A Levels.</p>
                </div>
              </details>
          </dd>

          {% elseif courseType == "BTEC" %}
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              BTEC
            </p>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    What is a BTEC?
                  </span>
                </summary>
                <div class="govuk-details__text">
                <p>A BTEC, or Business and Technology Education Council qualification, is a work-related qualification that combines practical learning with theory.</p>
                <p>BTECs are an alternative to A-levels.</p>
                </div>
              </details>
          </dd>

          {% endif %}

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Hours
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{ courseHours }}</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Entry requirements
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{ entryRequirements }}</p>
            {% if entryRequirements !== "No entry requirements" %}
              <p class="govuk-body"><a href="dont-meet-entry-requirements">What can I do if I don't meet these?</a></p>
            {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course overview
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{ courseOverview }}</p>
          </dd>
        </div>
      </dl>

      {% if courseType == "Level 3 Apprenticeship" %}

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Start date
              </dt>
              <dd class="govuk-summary-list__value">
                {{ startDate }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Duration
              </dt>
              <dd class="govuk-summary-list__value">
                {{ courseDuration }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Location and distance
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ locationDistance }}</p>
                <p class="govuk-body"><a href="https://www.google.com/maps">Show on map</a></p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Provider
              </dt>
              <dd class="govuk-summary-list__value">
                <p>{{ schoolOrCollege }}</p>
                <p><a href="">Visit provider website</a> </p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Course type
                </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
            Level 3 Apprenticeship
            </p>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    What is a Level 3 Apprenticeship?
                  </span>
                </summary>
                <div class="govuk-details__text">
                <p>Apprenticeships are real jobs that allow you to earn a wage while you learn. You'll work alongside experienced staff to learn on the job.</p>

                 <p>Intermediate (level 2) apprenticeships are equivalent to GCSEs. Advanced (level 3) apprenticeships are equivalent to A Levels or T Levels.</p>
                </div>
              </details>
          </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Hours
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ courseHours }}</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Entry requirements
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ entryRequirements }}</p>
              {% if entryRequirements !== "No entry requirements" %}
                <p class="govuk-body"><a href="dont-meet-entry-requirements">What can I do if I don't meet these?</a></p>
              {% endif %}
              </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Course overview
            </dt>
            <dd class="govuk-summary-list__value">
              <p>{{ courseOverview }}</p>
            </dd>
          </div>

          {% endif %}

  
      <p>If you're interested in this course, you can find out more or apply on the school or college website.</p>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Find out more or apply
      </button>
  
    </div>
    <div class="govuk-grid-column-one-third">
  
      <h3 class="govuk-heading-m">More about this school or college</h3>
  
      <p><a href="">Support for additional needs</a></p>
      <p><a href="">Open days</a></p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h3 class="govuk-heading-m">Jobs and careers</h3>
      <p><a href="">Explore the possible jobs and careers you could do after this course</a></p>
    </div>
  </div>
  
  {% endblock %}   
